<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0D677B9325913E27003B1D72</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DB21DC5258C207D00917693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0DB21DDB258C207E00917693</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
